branches:
  except:
    - gh-pages
language: perl6
sudo: false
perl6:
  - latest
install:
  - rakudobrew build-zef
  - zef install Test::META
  - zef install Path::Iterator
  - zef install TAP::Harness
  - zef install Crypt::Random
