sudo: required
language: generic
services:
    - docker
env:
    - AUTHOR_TESTING=1
install:
    - docker build -t szabgab/galaxy .
script:
    - docker run szabgab/galaxy prove6 -l
after_success:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then
          docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
          docker push szabgab/galaxy;
      fi
